@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800&family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
 
      box-sizing: border-box;
    padding: 0 ;
margin: 0;font-family: 'Inter', sans-serif;

}
$body: 'Inter', sans-serif;
$heading: 'Playfair Display', serif;
*:before, *:after { box-sizing: inherit; }
p{
    width: 70%;
    color: rgba($color:#fff, $alpha: 0.8);
    margin: 1rem 0;
    text-align: justify;
    margin-bottom: 2.5rem;
}

h1{
    font-size: 64px;
    font-weight: bold;
    line-height: 115%;
    width: 100%;
    margin: 0 !important;
}
h2{
    font-size: 36px;
    font-weight: bold;
    line-height: 125%;
}
.brand{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase !important;
    color: whitesmoke;
    font-family: $heading;
    i{
        margin-right: 10px;
    }
}


 .container{
     width: 85%;
     margin: 0 auto;
 }
html { 
    color: white;
    background: #000; 
}
body { 
overflow-x: hidden !important;
    min-height: 100vh; }

    #main-hero{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

#video-viewport {
     position: absolute;
      top: 0;
       left: 0;
        width: 100vw; 
        height: 100vh;
         overflow: hidden;
          z-index: -1;
         }
video {   
      width: 100vw;
    display: block; 
     height: auto;
     min-height: 100vh !important;
     object-fit:cover !important;
 }

.fullsize-video-bg {
    height: 100vh;
     overflow: hidden; 
}

.fullsize-video-bg:before { 
    content: ""; background: rgba(12, 12, 12, .5);
     position: absolute; 
     top: 0; 
     left: 0;
     width: 100vw;
     height: 100vh; z-index: 0; 
    }
    

       
    .nav{
        min-height: 10vh;        display: flex;
        justify-content: space-between;
        align-items: center;
        .links{
            width: 30vw;
            display: flex;
            justify-content: space-between;
        }
        a{
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
           
        }
        }

.fullsize-video-bg .inner {
     display:flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
      width: 100vw;
        min-height: 100vh !important;
        height: auto !important;
         margin: 0 auto;
          padding: 0;
           position: relative;
            z-index: 2; 
            text-shadow: 0 1px 5px rgba(0,0,0,.2);
         }
     .row{
             position: relative;
             z-index: 2 !important;
width: 100%;
 display: grid;
 grid-template-columns: repeat(2,6fr);
 grid-auto-rows: 90vh;
 .col{
     width: 100%;
height: 100%;
display: flex;
justify-content:space-between;
padding: 10vh 0;
align-items: flex-start;
flex-direction: column;
.i-card{
    width: 100%;
}
 }

 .search{
     width: 70%;

 }
.blur-btn{
    padding: 12px;
    
    background: rgba( 255, 255, 255, 0.25 ) !important;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px ); 
}
 .search-row{
     display: grid;
     grid-template-columns: 1fr 11fr;
     grid-gap: 5px;
     padding: .2em;
     border-radius: 6px;
     grid-auto-rows: 40px;
     background: rgba( 255, 255, 255, 0.25 );
     backdrop-filter: blur( 4px );
     -webkit-backdrop-filter: blur( 4px );
     >div{
         display: flex;
         justify-content: center;
         align-items: center;
         i{
             font-size: 30px;
         }        
         input{
          background-color: transparent;
color: whitesmoke;
font-size: 16px;
border: none !important;        }
     }
     input{
         width: 100%;
        height: 100%;
        &:focus-visible{
            outline: none !important;
        }
     }
 }
         }


         .txt{
            width: 100%;
            .p{
                opacity: .8 !important;
            }
            li{
                margin: 1.5rem 1rem;
font-size: 18px;
opacity: .8;
            }
            p{
                color: white;
                margin: 10px 0 !important;
                opacity: 1 !important;
            }
            .info{
                display:flex;
                justify-content: space-between;
width: 100%;
            }
        }

        .navigation{
            width: 70%;
            display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15vh ;
        .line{
            width: 50%;
            border: 1px solid white;
        }
        button{
            color: whitesmoke;
            border: none !important;
            border-radius: 6px;
            width: 100px;
            background: rgba( 255, 255, 255, 0.25 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            padding:12px;
            text-align: center;
            &:hover{
                transition: 1s ease;
                background-color:  black !important;
            }
        }
        
        }
         .slider{
             width: 100%;
margin-top: 3rem ;
             display: flex;
             justify-content: space-between;
             align-items: center;
            
             .img2{
                background-image: url('./Pexels\ Videos\ 4098\(1\)_Moment.jpg');

             }
             .img1{
                background-image: url('./video_Moment.jpg');

             }
         .img{
background-size: cover;
width: 45%;

     .overlay{
         cursor: pointer;
         display: flex;
         justify-content: center;
         align-items: center;
        &:hover{
          transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          opacity: 1;  
        }
        width:100%;
        min-height: 150px;
        background-color: rgba($color: #000000, $alpha: .5);
  opacity: 0;
     }
         object-fit: cover;
         }
         
            }


            @media screen and (max-width:900px) {
                .nav {
                    justify-content: center;
                    text-align: center;
                    .links{
                    display: none;
                }   
            }

                h1,h2,h3,h4,p{
                    width: 100%;
                }
                .row{
                    display: block;
                    .i-card,.search,.navigation{
                        width: 100% !important;
                        margin: 2.5rem auto;
                    }
                
                }

                .navigation{
                    .line{
                        width: 30%;
                    }
                }
                #video-viewport,.fullsize-video-bg,.fullsize-video-bg::before,video{
                    min-height:200vh !important;
                    height: auto !important;
                }
            }



            .bottom-corner{
                width: 0;
                height: 0;
                opacity: 0;
                position: absolute;
                bottom: 0;
                z-index: 5 !important;
                right: 0;
                background-color: sandybrown;
            }


// .notvisible,.content{
//  opacity: 0;
// }
.loader{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10 !important;
    background-color: black;
}
            .wrapper{
                height: 60px;
                width: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              .left,.right{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: white;
                animation: pulse 1.4s linear infinite;
              }
              .right{
                animation-delay: 0.7s
              }
              @keyframes pulse{
                0%, 100%{
                  transform: scale(0);
                    opacity: 0.1;
                }
                50%{
                  transform: scale(1);
                  opacity: 1;
                    
                }
              }
              